<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resort Inn</title>
    <link href='{% static  "css/bootstrap.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <link href='{% static  "css/font-awesome.css" %}' rel="stylesheet">
    <link rel="stylesheet" href='{% static  "css/chocolat.css" %}' type="text/css" media="screen">
    <link href='{% static  "css/easy-responsive-tabs.css" %}' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href='{% static  "css/flexslider.css" %}' type="text/css" media="screen" property=""/>
    <link rel="stylesheet" href='{% static  "css/jquery-ui.css" %}'/>
    <link href='{% static  "css/style.css" %}' rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src='{% static  "js/modernizr-2.6.2.min.js" %}'></script>


    <!-- <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Federo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!--//fonts-->


    <link rel="stylesheet" href='{% static  "login_form/css/style.css" %}'>

</head>
<body>
<!-- header -->
<div class="banner-top">
    <div class="social-bnr-agileits">
        <ul class="social-icons3">
            <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
        </ul>
    </div>
    <div class="contact-bnr-w3-agile">
        <ul>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:admin@resortinn.com">admin@resortinn.com</a>
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+91 9999155233</li>

        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="w3_navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="/index">Resort <span>Inn</span>
                    <p class="logo_w3l_agile_caption" style="text-align:center">Your Dreamy Resort</p></a></h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--iris">
                    <ul class="nav navbar-nav menu__list">
                        <li class="menu__item menu__item--current"><a href="/index" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="/index#about" class="menu__link scroll">About</a></li>
                        <li class="menu__item"><a href="/index#team" class="menu__link scroll">Team</a></li>
                        <li class="menu__item"><a href="/index#gallery" class="menu__link scroll">Gallery</a></li>
                        <li class="menu__item"><a href="/index#rooms" class="menu__link scroll">Rooms</a></li>
                        <li class="menu__item"><a href="/index#contact" class="menu__link scroll">Contact Us</a></li>

                        {% if user.is_authenticated %}

                        <li class="menu__item">

                            <button class="btn btn-primary dropdown-toggle menu__link" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown"
                                    style="background:#0f2453;border-color: #0f2453;padding:inherit;">
                                {{ user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/index/">Manage Bookings</a></li>
                                <!--<li><a href="/index">Edit</a></li>-->
                                <li role="separator" class="divider"></li>
                                <li><a href="/users/logout">Logout</a></li>

                            </ul>
                            <!--</div>-->
                        </li>
                        <!--{% else %}-->
                        <!--<li class="menu__item"><a href="/users/login" class="menu__link">Log In</a></li>-->
                        <!--{% endif %}-->

                        <li class="menu__item"><a href="/room/check_availability" class="menu__link">Available</a></li>
                    </ul>
                </nav>
            </div>
        </nav>

    </div>
</div>
<!-- //header -->
<div class="form">
    <div id="Reserve" style="color: #FFFFFF">
        <h3>Your request for the desired room can't be made from our side.<br>
            Sorry for inconvenience.Please select some other room</h3>
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src='{% static  "login_form/js/index.js" %}'></script>

 </body>
</html>